<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">


<app-navbar-customer></app-navbar-customer>
<div class="container">
    <h1 class="event-title">Taller Front-end Developer</h1>

    <div class="event-description-container">
        <p class="event-description">
            ¡Descubre el poder del desarrollo web con nuestro Taller de Front-End!
            <br>
            Lo que nos diferencia es nuestro enfoque práctico: no solo aprenderás teoría, sino que pondrás manos a la obra con proyectos
            reales que te prepararán para el mundo laboral. Además, contarás con el apoyo de instructores expertos, siempre listos para
            guiarte y responder tus dudas.
            <br>
            Al finalizar el taller, no solo habrás creado tu propio portafolio de proyectos, sino que también tendrás la confianza y las
            habilidades para afrontar cualquier desafío en el ámbito del desarrollo web.
            <br>
            ¡No te pierdas esta oportunidad de impulsar tu carrera y convertirte en un desarrollador front-end altamente demandado!</p>
        <img src="icons/taller.jpg" alt="Imagen del evento" class="event-image">
    </div>

    <h2>Ponentes</h2>
    <div class="speakers-container">
        <div class="speaker">
            <img src="icons/ponente1.jpeg" alt="Ponente 1" class="speaker-image">
            <p class="speaker-name">Alejandra Chavez</p>
            <p class="speaker-specialty">Ingeieria de Sistemas</p>
        </div>
        <div class="speaker">
            <img src="icons/ponente2.jpeg" alt="Ponente 2" class="speaker-image">
            <p class="speaker-name">Edgardo Alvarado</p>
            <p class="speaker-specialty">Ciencias de la Computacion</p>
        </div>
    </div>



</div>
<app-footer></app-footer>

