<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<app-navbar-customer></app-navbar-customer>
<div class="container">
    <h1 class="event-title">Mis eventos</h1>
    <h2>Eventos Inscritos</h2>
</div>
<div class="speakers-container">
  <div class="container">
      <img src="icons/Back-Endd eveloper.png" alt="Back endd1" class="speaker-image">
      <p class="speaker-name">Taller de Back-end Developer</p>
      <img src="icons/calendario.png" alt="fcha" class="speaker-image">
      <p class="speaker-specialty">01 de Noviembre de 2024</p>
      <img src="icons/ubicacion.png" alt="fchaa" class="speaker-image">
      <p class="speaker-specialtyy">Virtual</p>
      <img src="icons/reloj.png" alt="fchaaa" class="speaker-image">
      <p class="speaker-specialtyyY">10:00 AM-1:00 PM</p>
      <img src="icons/personas.png" alt="fchaaaa" class="speaker-image">
      <p class="speaker-specialtyyYY">80K inscritos</p>
  </div>
  <div class="container">
      <img src="icons/Front-end Develop.png" alt="Front end" class="speaker-image">
      <p class="speaker-name">Tendencias de Desarrollo Web</p>
      <img src="icons/calendario.png" alt="fcha" class="speaker-image">
      <p class="speaker-specialty">15 de octubre de 2024</p>
      <img src="icons/ubicacion.png" alt="fchaa" class="speaker-image">
      <p class="speaker-specialtyy">Virtual</p>
      <img src="icons/reloj.png" alt="fchaaa" class="speaker-image">
      <p class="speaker-specialtyyY">12:00 AM-2:00 PM</p>
      <img src="icons/personas.png" alt="fchaaaa" class="speaker-image">
      <p class="speaker-specialtyyYY">127K inscritos</p>
  </div>
</div>

<app-footer></app-footer>
