h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family: 'Inter', sans-serif;
  color: #007BFF;
  text-align: center;
}

/* Centrar todo el contenido */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
}

/* Estilo para la sección de descripción */
.event-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
  width: 80%;
}

.event-description {
  max-width: 50%;
  text-align: left;
}

.event-image {
  width: 400px;
  height: auto;
  border-radius: 8px;
}

/* Botones para los detalles adicionales */
.extra-speakers, .participants {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #f59d0e;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.participants {
  background-color: #f59d0e;
}

/* Estilos para los ponentes */
.speakers-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}

.speaker {
  text-align: center;
  margin: 0 10px;
}

.speaker-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.speaker-name {
  margin-top: 10px;
  font-weight: bold;
}

.speaker-specialty {
  font-style: italic;
  color: #666;
}

/* Estilo para la agenda */
.agenda-list {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
}

.agenda-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.agenda-list li::before {
  content: '•';
  color: #007BFF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}


.submit-button {
  width: 20%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  background-color: #f59d0e;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background-color: #f59c0ee0;
  transform: scale(1.05);
}
