 <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

  <div class="container">
      <h1 class="event-title">Taller Front-end Developer</h1>

      <div class="event-description-container">
          <div class="event-description">

              <p>¡Descubre el poder del desarrollo web con nuestro Taller de Front-End!
                <br>
                Lo que nos diferencia es nuestro enfoque práctico: no solo aprenderás teoría, sino que pondrás manos a la obra con proyectos
                reales que te prepararán para el mundo laboral. Además, contarás con el apoyo de instructores expertos, siempre listos para
                guiarte y responder tus dudas.
                <br>
                Al finalizar el taller, no solo habrás creado tu propio portafolio de proyectos, sino que también tendrás la confianza y las
                habilidades para afrontar cualquier desafío en el ámbito del desarrollo web.
                <br>
                ¡No te pierdas esta oportunidad de impulsar tu carrera y convertirte en un desarrollador front-end altamente demandado!</p>
              <button class="extra-speakers">2 ponentes</button>
              <button class="participants">127k participantes</button>
          </div>
          <img src="icons/taller.jpg" alt="Imagen del evento" class="event-image">
      </div>

      <h2>Ponentes</h2>
      <div class="speakers-container">
          <div class="speaker">
              <img src="icons/ponente2.jpeg" alt="Ponente 1" class="speaker-image">
              <p class="speaker-name">Jose Antonio del Padro</p>
              <p class="speaker-specialty">UI/UX Designer</p>
          </div>
          <div class="speaker">
              <img src="icons/ponente1.jpeg" alt="Ponente 2" class="speaker-image">
              <p class="speaker-name">Juana Moreno</p>
              <p class="speaker-specialty">Software Engineering</p>
          </div>
      </div>

      <h2>Agenda</h2>
      <ul class="agenda-list">
          <li>10:00 - 11:00: Lorem ipsum dolor sit amet, consectetur.</li>
          <li>11:00 - 12:00: Excepteur sint occaecat cupidatat non proident.</li>
          <li>12:00 - 1:00: sunt in culpa qui officia deserunt mollit anim id.</li>
      </ul>

      <button class="submit-button" type="submit">Inscribirme</button>
  </div>
