<div class="register-container">

    <h2 class="register-header">Crea tu cuenta</h2>
    <p class="register-subtext">Regístrate para acceder a la plataforma</p>
  
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  
      <div class="form-group">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="firstName" placeholder="Introduce tu nombre">
          @if(controlHasError('firstName', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
        </mat-form-field>
      </div>
  

      <div class="form-group">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" placeholder="Introduce tu apellido">
          @if(controlHasError('lastName', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
        </mat-form-field>
      </div>
  

      <div class="form-group">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" placeholder="Introduce tu correo">
          @if(controlHasError('email', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
          @if(controlHasError('email', 'email')) {
            <mat-error>Introduzca un correo electrónico válido.</mat-error>
          }
        </mat-form-field>
      </div>
  

      <div class="form-group">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Introduce tu contraseña">
          @if(controlHasError('password', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
          }
          @if(controlHasError('password', 'minlength')) {
            <mat-error>La contraseña debe tener al menos 6 caracteres</mat-error>
          }
        </mat-form-field>
      </div>
  
        <div class="form-group">
            <mat-form-field appearance="outline" class="form-input">
                <mat-label>Estado</mat-label>
                <mat-select matSelect formControlName="status">
                    <mat-option value="one">Estudiante </mat-option>
                    <mat-option value="two">Freelancer </mat-option>
                    <mat-option value="three">Trabajador </mat-option>
                    <mat-option value="four">Buscando trabajo </mat-option>
                    <mat-option value="five">No opino </mat-option>
                </mat-select>
            </mat-form-field>
            @if(controlHasError('status', 'required')) {
                <mat-error>Debe seleccionar una opcion</mat-error>
            }
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline" class="form-input">
                <mat-label>Modalidad de preferencia</mat-label>
                <mat-select matSelect formControlName="modalidad">
                    <mat-option value="one">Virtual </mat-option>
                    <mat-option value="two">Presencial </mat-option>
                </mat-select>
            </mat-form-field>
            @if(controlHasError('modalidad', 'required')) {
                <mat-error>Debe seleccionar una opcion</mat-error>
            }
        </div>

        <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="registerForm.invalid">
        Registrarse
        </button>
    </form>
  
    <p class="login-link">
      ¿Ya tienes una cuenta?
      <a routerLink="/auth/login">Inicia sesión aquí</a>
    </p>
  </div>
  